body
{
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  background-color: #3c6382;
}

header
{
  background-color: #0a3d62;
  padding: 20px;
  color: white;
}

header h1
{
  font-size: 1.6em;
  margin: 0;
  line-height: 60px;
}

.app
{
  text-align: center;
}

.content
{
  margin: 35px auto 0 auto;
  width: 40%;
}