.project-title
{
  font-size: 4em;
}

.project-year
{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 2em;
}

.project-members, .project-options
{
  text-align: left;
  width: 70%;
  margin: 0 auto 0 auto;
}

div button
{
  width: 40%;
  margin: 0 5% 0 5%;
}